<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
</head>
<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h2>ForoTech</h2>
        </div>

        <ul class="list-unstyled components">
            <p>Navigation</p>
            <li class="active">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
            </li>
            <li>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active"  id="login">Login</a>
            </li>
            <li>
              <a [routerLink]="['/register']" routerLinkActive="router-link-active"  id="register">Register</a>
          </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" id="categories">Categories</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a [routerLink]="['/software']" routerLinkActive="router-link-active" >Software</a>
                    </li>
                    <li>
                      <a [routerLink]="['/hardware']" routerLinkActive="router-link-active" >Hardware</a>
                  </li>
                  <li>
                    <a [routerLink]="['/bio']" routerLinkActive="router-link-active" >Biotech</a>
                </li>
                <li>
                  <a [routerLink]="['/quantum']" routerLinkActive="router-link-active" >Quantum</a>
              </li>
              <li>
                <a [routerLink]="['/robotic']" routerLinkActive="router-link-active" >Robotic</a>
            </li>
            <li>
              <a [routerLink]="['/industrial']" routerLinkActive="router-link-active" >Industrial</a>
          </li>
                    <li>
                        <a [routerLink]="['/electrical']" routerLinkActive="router-link-active" >Electrical</a>
                    </li>
                    <li>
                        <a [routerLink]="['/hydraulic']" routerLinkActive="router-link-active" >Hydraulic</a>
                    </li>
                    <li>
                      <a [routerLink]="['/emerging']" routerLinkActive="router-link-active" >Emerging Tech</a>
                  </li>
                  <li>
                    <a [routerLink]="['/other']" routerLinkActive="router-link-active" >Other</a>
                </li>
                </ul>
            </li>
            
        </ul>

        <ul class="list-unstyled CTAs">
            
                <li>
                        <a [routerLink]="['/logout']" routerLinkActive="router-link-active"  id="logout">Logout</a>
                    </li>
        </ul>
    </nav>

    <div id="content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="navbar-brand">
    <img src="../../assets/images/forotech4.png" width="95" height="95" alt="">
  </a>
                <div class="container-fluid">
                  <h1 class="text-center"> Post</h1>

                    <button type="button" id="sidebarCollapse" class="btn text-sidebar bg-red">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Switch User</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
<div class="container">
    <div *ngFor="let post of posts; index as i"><br>
        <div class="media" *ngIf="i<1">
            <div class="media-left media-top">
              <img src="../../assets/images/img_avatar1.png" class="media-object" style="width:60px"    id="image1">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{post.header}}</h4>
              <h5>{{post.userName}}</h5>
            </div>
          </div>
      </div>
      <div class="container">
            <div *ngFor="let post of posts; index as i"><br>
                <div class="media" *ngIf="i != 0">
                    <div class="media-left media-top">
                      <img src="../../assets/images/img_avatar2.png" class="media-object" style="width:60px" id="image2">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">{{post.userName}}</h4>
                      <p>{{post.header}}</p>
                      <a [routerLink]="['/home']" routerLinkActive="router-link-active"> Go Back</a>

                    </div>
                  </div>
              </div>
      </div>
    </div>
    <div class="container">
        <div class="media">
        <div class="media-left media-top">
          <img src="../../assets/images/img_avatar1.png" class="media-object" style="width:80px" id="image3">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Media Top</h4>
          <h5>pepitoP</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consequatur, accusamus est ducimus culpa vel! Voluptas id minima quasi voluptatum ad! Nihil rerum, maxime deserunt vel debitis repellendus ut ducimus!</p>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active"> Go back</a>
        </div>
      </div></div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
        
</body>
</html>