<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark static-top mb-5 shadow" id="nav">
                <div class="container">
                  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active"  >ForoTech</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" id="home" >Home
                              <span class="sr-only">(current)</span>
                            </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" id="login" >Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" id="register" >Register</a>
                      </li>
                      
                    </ul>
                  </div>
                </div>
              </nav>
              
              <!-- Page Content -->
              <div class="container" id="maincontainer">
                <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
                    <h1 class="text-center">Welcome to ForoTech!</h1>
                    <br>
                    <h2 class="text-center">Default Thread Showcase</h2>
                    <br>
                    <div class="media">
                      <div class="media-left">
                        <img src="../../assets/images/img_avatar1.png" class="media-object" style="width:85px" id="image1">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <br><br><br>
                        <!-- Nested media object -->
                        <div class="media">
                          <div class="media-left">
                            <img src="../../assets/images/img_avatar2.png" class="media-object" style="width:65px" id="image2">
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <br><br>
                            <!-- Nested media object -->
                            <div class="media">
                              <div class="media-left">
                                <img src="../../assets/images/img_avatar3.png" class="media-object" style="width:55px" id="image3">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div style="height: 700px"></div>
                  </div>
                </div>
              </div>
              <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
                    <div class="container text-center">
                      <small>ForoTech &copy; Equipo 1</small>
                    </div>
                  </footer>
        
</body>
</html>